* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* outline: 1px solid silver; */
}
.copy{
    position: absolute;
}
/* For page loader */
.loader_bg {
    position: fixed;
    background-color: #fff;
    z-index: 999999 !important;
    width: 100vw;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid #232858;
    /* border: 1em solid #D35400; */
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

table {
    font-size: 0.8em;
}

.shadow {
    box-shadow: 0 11px 36px 0 rgb(70 89 138 / 10%) !important;
}

nav {
    background-color: white !important;
    z-index: 10 !important;
}

.logo {
    color: #232858 !important;
}

.mainBtn {
    background-color: #232858 !important;
    color: white !important;
    border: none !important;
}

h1 {
    color: #232858 !important;
    font-weight: bold;
}

h3 {
    color: #232858 !important;
    font-weight: bold;
}

.form-label,
.form-check-label {
    font-size: 0.8em !important;
}

::placeholder {
    font-size: 0.75em !important;
    font-weight: bold !important;
    color: lightgray !important;
}

input {
    border: none !important;
    border-bottom: 2px solid #eee !important;
}

select {
    border: none !important;
    border-bottom: 2px solid #eee !important;
}